@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
    background: linear-gradient(to right, black 20%, #200246 80%);
}

html, body {
    height: 100%; /* Ensure full viewport height */
    width: 100%; /* Ensure full viewport height */
    margin: 0;    /* Remove any default margin */
    padding: 0;   /* Remove any default padding */
}

/* Neon text sparkle effect (subtle version) */
.sparkle-text {
    text-shadow: 
        0 0 3px #d3d3d3, 
        0 0 6px #d3d3d3, 
        0 0 8px #9b59b6, 
        0 0 10px #9b59b6, 
        0 0 15px #9b59b6; /* Lighter purple/gray color */
    animation: sparkle 2s infinite alternate;
}

/* Animation to create the sparkle effect */
@keyframes sparkle {
    0% {
        text-shadow: 
            0 0 3px #d3d3d3, 
            0 0 6px #d3d3d3, 
            0 0 8px #9b59b6, 
            0 0 10px #9b59b6, 
            0 0 15px #9b59b6;
    }
    100% {
        text-shadow: 
            0 0 4px #d3d3d3, 
            0 0 8px #d3d3d3, 
            0 0 10px #9b59b6, 
            0 0 12px #9b59b6, 
            0 0 18px #9b59b6;
    }
}

@layer utilities {
    @keyframes fadeIn {
        from { opacity: 0; transform: translate(-50%, 10px); }
        to   { opacity: 1; transform: translate(-50%, 0); }
    }

    @keyframes fadeOut {
        from { opacity: 1; transform: translate(-50%, 0); }
        to   { opacity: 0; transform: translate(-50%, 10px); }
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-out forwards;
    }

    .animate-fadeOut {
        animation: fadeOut 0.5s ease-in forwards;
    }
}

.fade-mask {
	-webkit-mask-image: 
	  linear-gradient(to top, transparent, black 20%, black 80%, transparent),
	  linear-gradient(to left, transparent, black 20%, black 80%, transparent);
	-webkit-mask-composite: intersect;
	mask-image: 
	  linear-gradient(to top, transparent, black 20%, black 80%, transparent),
	  linear-gradient(to left, transparent, black 20%, black 80%, transparent);
	mask-composite: intersect;
	mask-repeat: no-repeat;
	mask-size: cover;
  }

